<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>abscissa</key>
		<real>1.3</real>
		<key>ordinate</key>
		<real>1.3999999999999999</real>
	</dict>
	<dict>
		<key>abscissa</key>
		<real>2.2999999999999998</real>
		<key>ordinate</key>
		<real>2.5</real>
	</dict>
	<dict>
		<key>abscissa</key>
		<real>2.8999999999999999</real>
		<key>ordinate</key>
		<real>4</real>
	</dict>
</array>
</plist>
