<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>libRegression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>myLinear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2250190C167A46C20079C46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C08EDF173102C500F8D1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C08EFE173104DF00F8D1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C08F0C1731093D00F8D1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
